  <div class="seance_show seance-container d-flex flex-column justify-content-around align-items-center mb-5">
    <h5>Détails</h5>
    <div>Avec qui ? <%= @seance.coach.last_name %> <%= @seance.coach.first_name %></div>
    <div>Quand ? <%= @seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
    <div>Combient de temps ? <%= @seance.duration %> minutes</div>
    <div>Où ? Rdv <%= @seance.place %></div>
    <div>Prix ? <%= @price %>€</div>

     <label class="amount">
              <span><%= @coach.price %>€</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Création d'une commande"
                  data-currency="eur"
                  data-amount="<%= @coach.price * 100 %>"
                  data-locale="auto">
          </script>
  </div>
