
     <%= image_tag("background-seances.jpg", class:'background_seances', alt:"fond d'image")%>
  


<div class="h1_resa">
<h1>Votre réservation</h1>
</div>
<div class="seance_show_html">


<!-- coach card -->
  <div class="coach_card" style="width: 20rem";>
    <div class="card">
      
      <%= image_tag("coach_test", class:'coach_card_seance', alt:"coach_test")%>
    <div class="text_card_seances_show">
        <div class="card-body">
         <p><%= @seance.coach.first_name %>
          <br>
          <br>
          <%= @seance.coach.last_name %>
          </p>
          <p class="card-text">
            <%= @seance.coach.phone_number %>
           </p>
         </div>
      </div>
    </div>
</div>

<!-- Seance show -->
  <div class="seance_show" style="width: 30rem";>
     <div class="card">       
      
          <div class="card-body">          
            <p class="card-text">
              Quand ? Le <%= @seance.start_date %>
              <br>
              Combient de temps ? <%= @seance.duration %>min
              <br>
              Où ? Rdv <%= @seance.place %>
              <br>
              Prix ? <%= @price %>€
            </p>
        </div>
    </div>
  </div>


<!-- user card -->
  <div class="user_card" style="width: 20rem";>
    <div class="card">
   
       <%= image_tag("coach_test", class:'coach_card_seance', alt:"coach_test")%>
    
      <div class="card-body">
        <p><%= @seance.user.first_name %> <%= @seance.user.last_name %></p>
        <p class="card-text">
        <%= @seance.user.address %>
        <br>
        <br>
        <%= @seance.user.zip_code %> 
        <%= @seance.user.city.name %>
        <br>
        <br>
        <%= @seance.user.phone_number %>
      </p>
      </div>
    </div>
  </div>
</div>

<div class="Button_return_Dashboard">

  <%= link_to "Retourner au Dashboard", edit_user_path(current_user.id),class:"btn btn-primary mt-3" %>

</div>




  





