<h2>Séance Show</h2>

<div>
  <div>====== SEANCE ======</div>
  <div>Quand ? Le <%= @seance.start_date %></div>
  <div>Combient de temps ? <%= @seance.duration %>min</div>
  <div>Où ? Rdv <%= @seance.place %></div>
</div>

<div>
  <div>====== USER ======</div>
  <div><%= @seance.user.first_name %> <%= @seance.user.last_name %></div>
  <div><%= @seance.user.address %></div>
  <div><%= @seance.user.zip_code %> <%= @seance.user.city.name %></div>
</div>

<div>
  <div>====== COACH ======</div>
  <div><%= @seance.coach.first_name %> <%= @seance.coach.last_name %></div>
</div>