
<%= image_tag("background-seances.jpg", class:'background_seances', alt:"fond d'image")%>

<div class="h1_resa">
  <h1>Réservation</h1>
</div>

<div class="seance_show_html">

<!-- coach card -->
  <div class="coach_card seance-container" style="width: 20rem;">
    <div class="card">  
      <%= image_tag("coach_test", class:'coach_card_seance', alt:"coach_test")%>
    <div class="text_card_seances_show">
        <div class="card-body">
          <h5>Coach</h5>
          <p>
            <%= @seance.coach.first_name %>
            <br>
            <br>
            <%= @seance.coach.last_name %>
          </p>
          <p class="card-text">
            <%= @seance.coach.phone_number %>
           </p>
        </div>
    </div>
    </div>
  </div>

<!-- Seance show -->
  <div class="seance_show seance-container d-flex flex-column justify-content-around align-items-center mb-5">
    <h5>Détails</h5>
    <div>Quand ? <%= @seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
    <div>Combient de temps ? <%= @seance.duration %> minutes</div>
    <div>Où ? Rdv <%= @seance.place %></div>
    <div>Prix ? <%= @price %>€</div>
  </div>

<!-- user card -->
  <div class="user_card seance-container" style="width: 20rem;">
    <div class="card">
       <%= image_tag("coach_test", class:'coach_card_seance', alt:"coach_test")%>
      <div class="card-body">
        <h5>Sportif</h5>
        <p><%= @seance.user.first_name %> <%= @seance.user.last_name %></p>
        <p class="card-text">
        <%= @seance.user.address %>
        <br>
        <br>
        <%= @seance.user.zip_code %> 
        <%= @seance.user.city.name %>
        <br>
        <br>
        <%= @seance.user.phone_number %>
      </p>
      </div>
    </div>
  </div>



<div class="Button_return_Dashboard">
  <%= link_to "Retourner au Dashboard", @edit_user_path(current_user.id),class:"btn btn-primary mt-3" %>
</div>

  

</div>