<h2>  Profil Utilisateur  </h2>


<div class="name">
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.description %>
</div>

<div class="birth_date">
    <%= @user.birth_date %>
</div>

<div class="phone">
    <%= @user.phone_number %>
</div>

<div class="address">
  <%= @user.address %>
  <%= @user.zip_code %>
</div>

<p>================</p>

<% @user.seances.each do |seance| %>
  <tr>
    <td><%= seance.start_date %><td>
    <td><%= seance.duration %><td>
    <td><%= seance.place %><td>
  </tr>
<% end %>


<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore photo de profil ===</p>
  <%= link_to 'ajouter photo de profil', edit_user_path(params[:id]) %>

<%end%>

