<div class="coach-jumbotron">
  <% if @user.cover.attached? %>
    <%= image_tag @user.cover, alt: 'Photo de couverture', class: 'cover-image' %>
  <% end %>
  <h2>Coach <%= @user.first_name %></h2>
  <div class="profile-pic">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, alt: 'Photo de profil', class: 'avatar-image' %>
    <% end %>
  </div>
</div>

<div class="public-section">
  <div class="coach-col coach-infos">
    <div class="coach-name"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="coach-city"><%= @user.city.name %><br><%= @user.phone_number %></div>
    <div class="coach-description">Quotidiennement au contact de personnes exigeantes, je serai à même de vous concevoir un entraînement sur mesure et de qualité !</div>
  </div>
  <div class="coach-col calendar-form">
    <h2>Réserver</h2>
    <%= form_tag seances_path, method: "post" do %>
      <div class="form-group form-check coach-form-group">
        <%= label_tag 'Date et Heure' %>
        <%= datetime_field_tag 'start_date', Time.now, class: 'form-control' %>
      </div>
      <div class="form-group form-check coach-form-group">
        <%= label_tag 'Durée (min)' %>
        <%= text_field_tag 'duration', "60", class: 'form-control' %>
      </div>
      <div class="form-group form-check coach-form-group">
        <%= label_tag 'Lieu' %>
        <%= text_field_tag 'place', "à domicile", class: 'form-control' %>
      </div>
      <%= hidden_field_tag :coach_id , @user.id %>
      <%= submit_tag "Réserver", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="coach-col calendar-section">
    <h2>Calendrier</h2>
    <%= week_calendar events: @seances do |date, seances| %>
      <%= date.day %>

      <% seances.each do |seance| %>
        <%= link_to seance_path(seance.id) do %>
          <div class="coach-specialty">
            Séance à
            <%= seance.start_date.strftime('%Hh%M') %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

Mes séances :
<div>
  <% if @user.seances == [] %>
    Pas encore de séances réservées
  <% else %>



    <h5>Séances à venir</h5>
    <% @user.seances.select{|seance| seance.start_date > Time.now }.each do |seance| %>
      <div>Début : <%= seance.start_date %></div>
      <div>Durée : <%= seance.duration %>min</div>
      <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
      <%= link_to 'Voir', seance_path(seance.id) %>
      <%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"} %>
    <% end %>
    <h5>Séances passées</h5>
    <% @user.seances.select{|seance| seance.start_date < Time.now }.each do |seance| %>
      <div>Début : <%= seance.start_date %></div>
      <div>Durée : <%= seance.duration %>min</div>
      <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
      <%= link_to 'Voir', seance_path(seance.id) %>
      <%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"} %>
    <% end %>
  <% end %>
</div>


<p>==================</p>

<%= link_to 'Modifier mes informations', edit_coach_path(params[:id]) %>
<%= link_to 'Retour', coaches_path %>


    Mes Informations :
    <div class="name">
        <%= @user.first_name %>
        <%= @user.last_name %>
        <%= @user.description %>
        <% if !@user.birth_date == nil %>
          <%= @user.birth_date.strftime("%Y-%m-%dT%H:%M") %>
        <% end %>
    </div>

    <p>===============</p>

    Contact :
    <div class="phone">
        <%= @user.phone_number %>
    </div>

    <p>===============</p>

    Adresse :
    <div class="address">
      <%= @user.address %>
      <%= @user.zip_code %>
    </div>

    <p>===============</p>

    Ville :
    <div class="city">
      <%= @user.city.name %>
    </div>

    <p>===============</p>

    Objectif :
    <div class="objective">
      <%= @user.objective.description %>



    </div>

    <p>===============</p>

    Mes séances:

    <% if @user.seances == [] %>
      Pas encore de séances réservées
    <% else %>
      <h5>Séances à venir</h5>
      <% @user.seances.select {|seance| seance.start_date > Time.now}.each do |seance| %>
        <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
        <div class=""><%= seance.duration %> minutes</div>
        <div class=""><%= seance.place %></div>
      <% end %>
      <h5>Séances passées</h5>
      <% @user.seances.select {|seance| seance.start_date < Time.now}.each do |seance| %>
        <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
        <div class=""><%= seance.duration %> minutes</div>
        <div class=""><%= seance.place %></div>
      <% end %>
    <% end %>

    <p>===============</p>
    Ma photo de profil :
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
      <%= link_to 'Changer la photo profil', edit_user_path(params[:id]) %>
    <%else%>
      <p>=== Il n'y a pas encore photo de profil ===</p>
      <%= link_to 'ajouter photo de profil', edit_user_path(params[:id]) %>

    <%end%>


    <p>================</p>
    <div class="edit_setting">
    <button type="button" name="button"><%= link_to 'Editer mes informations', edit_user_path(@user) %></button>
    </div>
-->
