<% content_for :title, "CoachMe | Mon profil" %>
<div class="coach-jumbotron">
  <%= image_tag 'background-form-3.jpg', alt: 'Photo de couverture', class: 'cover-image' %>
  <div class="profile-pic">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, alt: 'Photo de profil', class: 'avatar-image' %>
      <% else %>
      <%= image_tag 'default.jpg', alt: 'Photo de profil', class: 'avatar-image' %>
    <% end %>
  </div>
</div>

<div class="public-section">
  <div class="coach-col user-infos">
    <div class="user-name"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="user-details"><i class="fas fa-signal"></i> Objectif : <%= @user.objective.description %></div>
    <div class="user-details"><i class="fas fa-home mr-3"></i><%= @user.city.name %></div>
    <div class="user-details"><i class="fas fa-home mr-3"></i><%= @user.zip_code %></div>
    <div class="user-details"><i class="fas fa-home mr-3"></i><%= @user.birth_date.strftime("%Y-%m-%d") %></div>
    <div class="justify-content-center">
      <%= link_to 'Retour', coaches_path, class: "btn btn-outline-primary" %>
      <%= link_to 'Modifier', edit_user_path(params[:id]), class: "btn btn-outline-primary" %>
    </div>
  </div>

<!-- CALENDAR -->
  <div class="coach-col calendar-section">
    <h2>Calendrier</h2>
    <%= week_calendar events: @seances do |date, seances| %>
      <%= date.day %>
      <% seances.each do |seance| %>
        <%= link_to seance_path(seance.id) do %>
          <div class="coach-specialty">
            Séance à
            <%= seance.start_date.strftime('%Hh%M') %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<!-- SEANCES -->
<div class="coach-col calendar-form d-flex">
  <h2>Mes séances</h2>
  <hr>
  <% if @user.seances == [] %>
    Pas encore de séances réservées
  <% else %>
    <h5 class="title-seances">Séances à venir</h5>
    <% @user.seances.select{|seance| seance.start_date > Time.now }.each do |seance| %>
      <div class="horizontal-card-seances">
        <div class="seance-start card-el"><%= seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
        <div class="seance-duration card-el"><%= seance.duration %> minutes</div>
        <div class="seance-user card-el">Avec <%= seance.coach.first_name %> <%= seance.coach.last_name.upcase %></div>
        <div><%= link_to 'Voir', seance_path(seance.id), class: "btn btn-secondary card-el" %></div>
        <div><%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"}, class: "btn btn-secondary card-el" %></div>
      </div>
    <% end %>
    <h5 class="title-seances">Séances passées</h5>
    <% @user.seances.select{|seance| seance.start_date < Time.now }.each do |seance| %>
      <div class="horizontal-card-seances">
        <div class="seance-start card-el"><%= seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
        <div class="seance-duration card-el"><%= seance.duration %> minutes</div>
        <div class="seance-user card-el">Avec <%= seance.coach.first_name %> <%= seance.coach.last_name %></div>
        <div><%= link_to 'Voir', seance_path(seance.id), class: "btn btn-secondary card-el" %></div>
        <div><%= link_to 'Archiver', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"}, class: "btn btn-secondary card-el" %></div>
      </div>
    <% end %>
    <% end %>
</div>


<!-- EDIT VIEW BELOW

    <p>===============</p>

    Mes séances:

    <% if @user.seances == [] %>
      Pas encore de séances réservées
    <% else %>
      <h5>Séances à venir</h5>
      <% @user.seances.select {|seance| seance.start_date }.each do |seance| %>
        <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
        <div class=""><%= seance.duration %> minutes</div>
        <div class=""><%= seance.place %></div>
      <% end %>
      <h5>Séances passées</h5>
      <% @user.seances.select {|seance| seance.start_date }.each do |seance| %>
        <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
        <div class=""><%= seance.duration %> minutes</div>
        <div class=""><%= seance.place %></div>
      <% end %>
    <% end %>

    <p>===============</p>
    Ma photo de profil :
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar' %>
      <%= link_to 'Changer la photo profil', edit_user_path(params[:id]) %>
    <%else%>
      <p>=== Il n'y a pas encore photo de profil ===</p>
      <%= link_to 'ajouter photo de profil', edit_user_path(params[:id]) %>

    <%end%>


    <p>================</p>
    <div class="edit_setting">
    <button type="button" name="button"><%= link_to 'Editer mes informations', edit_user_path(@user) %></button>
    </div>

-->
