<h2>  Profil Utilisateur  </h2>

<p>===============</p>

Mes Informations :
<div class="name">
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.description %>
    <% if !@user.birth_date == nil %>
      <%= @user.birth_date.strftime("%Y-%m-%dT%H:%M") %>
    <% end %>
</div>

<p>===============</p>

Contact :
<div class="phone">
    <%= @user.phone_number %>
</div>

<p>===============</p>

Adresse :
<div class="address">
  <%= @user.address %>
  <%= @user.zip_code %>
</div>

<p>===============</p>

Ville :
<div class="city">
  <% @user.city %>
</div>

<p>===============</p>

Objectif :
<div class="objective">
  <% @user.objective %>
</div>

<p>===============</p>

Mes séances:

<% if @user.seances == [] %>
  Pas encore de séances réservées
<% else %>
  <h5>Séances à venir</h5>
  <% @user.seances.select {|seance| seance.start_date > Time.now}.each do |seance| %>
    <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
    <div class=""><%= seance.duration %> minutes</div>
    <div class=""><%= seance.place %></div>
  <% end %>
<% end %>

  <h5>Séances passées</h5>
  <% @user.seances.select {|seance| seance.start_date < Time.now}.each do |seance| %>
    <div class=""><%= seance.start_date.strftime("%Y-%m-%dT%H:%M") %></div>
    <div class=""><%= seance.duration %> minutes</div>
    <div class=""><%= seance.place %></div>
  <% end %>















<p>===============</p>
Ma photo de profil :
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
  <%= link_to 'Changer la photo profil', edit_user_path(params[:id]) %>
<%else%>
  <p>=== Il n'y a pas encore photo de profil ===</p>
  <%= link_to 'ajouter photo de profil', edit_user_path(params[:id]) %>

<%end%>


<p>================</p>
<div class="edit_setting">
<button type="button" name="button"><%= link_to 'Editer mes informations', edit_user_path(@user) %></button>
</div>
