<div class="name">
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= @user.description %>
</div>

<div class="birth_date">
    <%= @user.birth_date %>
</div>

<div class="phone">
    <%= @user.phone_number %>
</div>

<div class="address">
  <%= @user.address %>
  <%= @user.zip_code %>
</div>





  <%= @user.seance %>




create_table "seances", force: :cascade do |t|
  t.bigint "coach_id"
  t.bigint "user_id"
  t.datetime "start_date"
  t.integer "duration"
  t.string "place"
  t.datetime "created_at", null: false
  t.datetime "updated_at", null: false
  t.index ["coach_id"], name: "index_seances_on_coach_id"
  t.index ["user_id"], name: "index_seances_on_user_id"
end
