<% content_for :title, "CoachMe | À propos" %>
  <div class="about static-page">
   <h1><span class="title_about">L'équipe CoachMe</span></h1>
  </div>


  <div class="d-flex flex-wrap m-4 justify-content-center">
      <div class="d-flex flex-column align-items-center m-4">
        <%= image_tag 'team/maja.jpg', class: 'team_images mb-3' %>
        <h5>Maja</h5>
      </div>

      <div class="d-flex flex-column align-items-center m-4">
        <%= image_tag 'team/guillaume.jpg', class: 'team_images mb-3' %>
        <h5>Guillaume</h5>
      </div>

      <div class="d-flex flex-column align-items-center m-4">
        <%= image_tag 'team/nico.jpg', class: 'team_images mb-3' %>
        <h5>Nicolas</h5>
      </div>

      <div class="d-flex flex-column align-items-center m-4">
        <%= image_tag 'team/remi.jpg', class: 'team_images mb-3' %>
        <h5>Rémi</h5>
      </div>

      <div class="d-flex flex-column align-items-center m-4">
        <%= image_tag 'team/lad.jpg', class: 'team_images mb-3' %>
        <h5>Ladislas</h5>
      </div>

  </div>

    <h2><span class="title_about2">L'histoire de CoachMe</span></h2>
      <div class="history_text">
        <p style="font-size: 18px";>Que ce soit la course à pied, les circuits cardio-training, le vélo ou bien la musculation; Chaque membre de l'équipe CoachMe pratique un de ces sports. Ainsi, le sport nous a rassemblés. 

        Si nous sommes tous autonome en sport, cela n'a pas toujours été le cas. Il est arrivé à certains d'entre nous d'avoir besoin d'un coach sportif dans le but d'établir un programme adéquat à ses ambitions. Mais comment trouver un bon coach et surtout un vrai professionnel, alors que tant de "coachs sportif" fleurissent sur les réseaux sociaux et promettent des résultats rapides et sans effort.
      <br>
      <br>
        Partant de ce constat, nous nous sommes demandé comment trouver la personne qu'il faut à chacun ? 

        L'idée de CoachMe était née.
      <br>
      <br>
       L'objectif de CoachMe et de proposer un portefeuille de véritable coach sportif certifié d'état (vérifier par nos soins), afin de proposer à toutes ces personnes perdues dans les méandres du fitness un professionnel capable d'écouter leurs besoins, de proposer un programme adapté et de les accompagner vers leurs objectifs.
      </p>

  </div>

