<div class="about static-page">
  <h1>À propos</h1>
</div>

<div class="d-flex flex-wrap m-4 justify-content-center">
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/maja.jpg', class: 'team_images mb-3' %>
    <h5>Maja</h5>
  </div>
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/guillaume.jpg', class: 'team_images mb-3' %>
    <h5>Guillaume</h5>
  </div>
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/nico.jpg', class: 'team_images mb-3' %>
    <h5>Nicolas</h5>
  </div>
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/remi.jpg', class: 'team_images mb-3' %>
    <h5>Rémi</h5>
  </div>
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/lad.jpg', class: 'team_images mb-3' %>
    <h5>Ladislas</h5>
  </div>
</div>