<div>Début : <%= seance.start_date %></div>
<div>Durée : <%= seance.duration %>min</div>
<div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
<%= link_to 'Voir', seance_path(seance.id), class: "btn btn-secondary" %>
<%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"}, class: "btn btn-secondary" %>