<div class="full-dashboard">
  <div class="dashboard-left">  
    <div class="list-group dashboard-list-group" role="tablist">
      <a class="list-group-item"><strong>Dashboard</strong></a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fas fa-user-circle mr-3"></i>Mon profil</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="fas fa-cog mr-3"></i>Éditer</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="fas fa-signal fa-sm mr-3"></i>Mes objectifs</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" id="list-seances-list" data-toggle="list" href="#list-seances" role="tab" aria-controls="messages" ><i class="far fa-calendar mr-3"></i>Mes séances</a>
    </div>
  </div>
  <div class="dashboard-right">
  
  </div>
</div>

<div class="space"></div>


<div class="col-md-8">
  <div class="tab-content" id="nav-tabContent">
    <!-- Account -->
    <div class="tab-pane fade show active mt-5" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      En cours
    </div>
    <!-- Account -->

    <!-- Profil -->
    <div class="tab-pane fade mt-5" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
      <h4 class="my-2">Éditer mon profil</h4>
      <hr>
      <form> 
        <div class="form-row">
          <div class="form-column col-md-6">
            <div class="form-group col-md-12 mt-5 pt-3 no-padding">
              <%= label_tag 'Prenom'%>
              <%= text_field_tag 'first_name', @coach.first_name, class: 'form-control'%>
            </div>
            <div class="form-group col-md-12 no-padding">
              <%= label_tag 'Nom'%>
              <%= text_field_tag 'last_name', @coach.last_name, class: 'form-control'%>
            </div>
          </div>
          <div class="form-group col-md-6 text-center mt-1">
            <!-- Profil picture --> 
              <img src="//api.adorable.io/avatars/120/trickst3r.png" class="mx-auto img-fluid rounded-circle" alt="avatar" />
              <h6 class="my-4">Photo de profil</h6>
              <div class="input-group px-lg-4">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile02">
                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choisir une image</label>
                  </div>
                  <div class="input-group-append">
                      <button class="btn btn-secondary"><i class="fa fa-upload"></i></button>
                  </div>
              </div>
            <!-- Profil picture --> 
          </div>
        </div>
        <div class="form-group">
          <%= label_tag 'Email'%>
          <%= text_field_tag 'email', @coach.email, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= label_tag 'Adresse'%>
          <%= text_field_tag 'address', @coach.address, class: 'form-control' %>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Code postal' %>
            <%= text_field_tag 'zip_code', @coach.zip_code, class: 'form-control' %>
          </div>
          <div class="form-group col-md-6 mt-4 pt-2">
            <%= select_tag "city", options_from_collection_for_select(@cities, "id", "name"), class: 'form-control' %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Téléphone'%>
            <%= text_field_tag 'phone_number', @coach.phone_number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-control-label ">Mot de passe</label>
            <input class="form-control" type="password" value="11111122333" />
          </div>
          <div class="form-group col-md-6">
            <label class="form-control-label ">Confirmation</label>
            <input class="form-control" type="password" value="11111122333" />
          </div>
        </div>

        <%= submit_tag "Modifier", class: "btn btn-primary mt-1 mb-5" %>
      </form>
    </div>
    <!-- Profil -->

    <!-- Goal -->
    <div class="tab-pane fade mt-5" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      Au revoir
    </div>
    <!-- Goal -->

    <!-- Seances -->
    <div class="tab-pane fade mt-5" id="list-seances" role="tabpanel" aria-labelledby="list-seances-list">
      Pour
    </div>
    <!-- Seances -->

  </div>
</div>

<div class="space"></div>

<p>==================================================</p>

<div class="headline">Mes informations de coach</div>

<div>
  <%= form_tag coach_path(params[:id]), method: "put", multipart: true do %>

    <div class="form-group form-check">
      <%= label_tag 'Prénom' %>
      <%= text_field_tag 'first_name', @coach.first_name, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Nom' %>
      <%= text_field_tag 'last_name', @coach.last_name, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Téléphone' %>
      <%= text_field_tag 'phone_number', @coach.phone_number, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Adresse' %>
      <%= text_field_tag 'address', @coach.address, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Code postal' %>
      <%= text_field_tag 'zip_code', @coach.zip_code, class: "form-control" %>
    </div>

<%# Add a field city with a dropdown to show each city.name from cities table %>

    <div class="form-group form-check">
      <%= label_tag "Tarif à l'heure (en €)" %>
      <%= text_field_tag 'price', @coach.price, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Numéro de SIRET' %>
      <%= text_field_tag 'siret', @coach.siret, class: "form-control" %>
    </div>

    <div>======== Images ========</div>

    <div class="form-group form-check">
      <%= label_tag 'Photo de profil' %>
      <%= file_field_tag :avatar %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Photo de couverture' %>
      <%= file_field_tag :cover %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'Diplôme de coach sportif' %>
      <%= file_field_tag :diploma %>
    </div>

    <div>======== Informations bancaires ========</div>

    <div class="form-group form-check">
      <%= label_tag 'Nom du bénéficiaire du compte' %>
      <%= text_field_tag 'account_name', @coach.account_name, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= label_tag 'IBAN du compte' %>
      <%= text_field_tag 'account_number', @coach.account_number, class: "form-control" %>
    </div>

    <%= submit_tag "Modifier", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary"><%= link_to 'Retour', :back %></button>
    
  <% end %>
</div>

<h2>Mes séances</h2>
<div>
  <% if @coach.seances == [] %>
    Pas encore de séances réservées
  <% else %>

  

    <h5>Séances à venir</h5>
    <% @coach.seances.select{|seance| seance.start_date > Time.now }.each do |seance| %>
      <div>Début : <%= seance.start_date %></div>
      <div>Durée : <%= seance.duration %>min</div>
      <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
      <%= link_to 'Voir', seance_path(seance.id) %>
      <%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"} %>
    <% end %>
    <h5>Séances passées</h5>
    <% @coach.seances.select{|seance| seance.start_date < Time.now }.each do |seance| %>
      <div>Début : <%= seance.start_date %></div>
      <div>Durée : <%= seance.duration %>min</div>
      <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
      <%= link_to 'Voir', seance_path(seance.id) %>
      <%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"} %>
    <% end %>
  <% end %>
</div>