<div class="full-dashboard">
  <div class="dashboard-left">  
    <div class="list-group dashboard-list-group" role="tablist">
      <a class="list-group-item dashboard-list-group-item"><strong>Dashboard</strong></a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item active" data-toggle="list" href="#list-dashboard" role="tab" aria-controls="home"><i class="fas fa-user-circle mr-3"></i>Général</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" data-toggle="list" href="#list-profile" role="tab" aria-controls="home"><i class="fas fa-user-circle mr-3"></i>Mon profil</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" data-toggle="list" href="#list-edit" role="tab" aria-controls="profile"><i class="fas fa-cog mr-3"></i>Éditer</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><i class="fas fa-signal fa-sm mr-3"></i>Mes revenus</a>
      <a class="list-group-item list-group-item-action dashboard-list-group-item" data-toggle="list" href="#list-seances" role="tab" aria-controls="messages" ><i class="far fa-calendar mr-3"></i>Mes séances</a>
    </div>
  </div>
  <div class="dashboard-right">
    <!-- Dashboard -->
    <div class="tab-coach-dashboard fade mt-5 active show" id="list-dashboard" role="tabpanel" aria-labelledby="list-profile-list">
    <div class="position-absolute">
      <h4 class="my-2">Dashboard</h4>
      <hr>
      <!-- Content Row -->
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs text-primary text-uppercase mb-1">Revenus (Mois)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">40 000€</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs text-primary text-uppercase mb-1">Revenus (Année)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">215 000€</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs text-primary text-uppercase mb-1">Tâche</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-sm text-primary text-uppercase mb-1">Messages</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Dashboard -->
    <!-- Edit -->
    <div class="tab-coach-dashboard fade mt-5" id="list-edit" role="tabpanel" aria-labelledby="list-profile-list">
    <div class="position-absolute">
      <h4 class="my-2">Éditer mon profil</h4>
      <hr>
      <%= form_tag coach_path(params[:id]), method: "put", multipart: true do %>
        <div class="form-row">
          <div class="form-column col-md-6">
            <div class="form-group col-md-12 mt-5 pt-3 no-padding">
              <%= label_tag 'Prénom'%>
              <%= text_field_tag 'first_name', @coach.first_name, class: 'form-control'%>
            </div>
            <div class="form-group col-md-12 no-padding">
              <%= label_tag 'Nom'%>
              <%= text_field_tag 'last_name', @coach.last_name, class: 'form-control'%>
            </div>
          </div>
          <div class="form-group col-md-6 text-center mt-1">
            <!-- Profil picture --> 
              <% if @coach.avatar.attached? %>
                <%= image_tag @coach.avatar, class: "mx-auto img-fluid rounded-circle coach-dashboard-pic", alt: "avatar" %>
              <% else %>
                <%= image_tag 'default.jpg', alt: 'Photo de profil', class: 'avatar-image' %>
              <% end %>
              <h6 class="my-4">Photo de profil</h6>
              <%= file_field_tag :avatar %>
            <!-- Profil picture --> 
          </div>
        </div>
        <div class="form-group">
          <%= label_tag 'Adresse'%>
          <%= text_field_tag 'address', @coach.address, class: 'form-control' %>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Code postal' %>
            <%= text_field_tag 'zip_code', @coach.zip_code, class: 'form-control' %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'Ville' %>
            <% if @coach.city.nil? %>
              <%= select_tag "city", options_from_collection_for_select(@cities, "id", "name"), class: 'form-control' %>
            <% else %>
              <%= select_tag "city", options_from_collection_for_select(@cities, "id", "name", @coach.city.id), class: 'form-control' %>
            <% end %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag "Tarif à l'heure (en €)" %>
            <%= text_field_tag 'price', @coach.price, class: "form-control" %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'Numéro de SIRET' %>
            <%= text_field_tag 'siret', @coach.siret, class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Téléphone'%>
            <%= text_field_tag 'phone_number', @coach.phone_number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Nom du bénéficiaire du compte' %>
            <%= text_field_tag 'account_name', @coach.account_name, class: "form-control" %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'IBAN du compte' %>
            <%= text_field_tag 'account_number', @coach.account_number, class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= label_tag 'Photo de couverture' %><br>
            <%= file_field_tag :cover %>
          </div>
          <div class="form-group col-md-6">
            <%= label_tag 'Diplôme de coach sportif' %><br>
            <%= file_field_tag :diploma %>
          </div>
        </div>
        <%= submit_tag "Modifier", class: "btn btn-primary mt-1 mb-5" %>
      <% end %>
    </div>
    </div>
    <!-- Edit -->
    <!-- Seances -->
    <div class="tab-coach-dashboard fade mt-5" id="list-seances" role="tabpanel" aria-labelledby="list-seances-list">
    <div class="position-absolute">
      <h4 class="my-2">Mes séances</h4>
      <hr>
      <div>
        <% if @coach.seances == [] %>
          Pas encore de séances réservées
        <% else %>
          <h5 class="title-seances">Séances à venir</h5>
          <% @coach.seances.select{|seance| seance.start_date > Time.now }.each do |seance| %>
            <div class="horizontal-card-seances">
              <div class="seance-start card-el"><%= seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
              <div class="seance-duration card-el"><%= seance.duration %> minutes</div>
              <div class="seance-user card-el">Avec <%= seance.user.first_name %> <%= seance.user.last_name %></div>
              <div><%= link_to 'Voir', seance_path(seance.id), class: "btn btn-secondary card-el" %></div>
              <div><%= link_to 'Supprimer', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"}, class: "btn btn-secondary card-el" %></div>
            </div>
          <% end %>
          <h5 class="title-seances">Séances passées</h5>
          <% @coach.seances.select{|seance| seance.start_date < Time.now }.each do |seance| %>
            <div class="horizontal-card-seances">
              <div class="seance-start card-el"><%= seance.start_date.strftime('Le %d %b %Y à %Hh%M') %></div>
              <div class="seance-duration card-el"><%= seance.duration %> minutes</div>
              <div class="seance-user card-el">Avec <%= seance.user.first_name %> <%= seance.user.last_name %></div>
              <div><%= link_to 'Voir', seance_path(seance.id), class: "btn btn-secondary card-el" %></div>
              <div><%= link_to 'Archiver', seance_path(seance.id), method: 'delete', data: {confirm: "C'est ton dernier mot ?"}, class: "btn btn-secondary card-el" %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
    <!-- Seances -->


      <!-- My profil -->
        <div class="tab-pane fade mt-5" id="list-profile" role="tabpanel" aria-labelledby="list-profile">
          <div class="container">
            <div class="row">
              <!-- photo -->
              <div class="col-md-3">
                <% if @coach.avatar.attached? %>
                  <%= image_tag @coach.avatar, class: "avatar-image", alt: "avatar" %>
                <% else %>
                 <%= image_tag 'default.jpg', alt: 'Photo de profil', class: 'avatar-image' %>
                <% end %>
              </div>

              <div class="col-md-6">
                 <div class="card" style="width: 25rem;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Bonjour <%= @coach.last_name %> <%= @coach.first_name %></li>
                        <% if @coach.city.nil? %>
                          <li class="list-group-item"> Complétez votre profil dans Éditer. </li>
                        <% else %>
                          <li class="list-group-item">J'habite à <%= @coach.city.name %>.</li>  
                        <% end %>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- My profil -->


      <!-- Money -->
        <div class="tab-pane fade mt-5" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs text-primary text-uppercase mb-1">Revenus (Mois)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">40 000€</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs text-primary text-uppercase mb-1">Revenus (Année)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">215 000€</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        <!-- Money -->
  </div>
</div>
