<div class="card-group">
    <div class="cards mt-5">
	   <% @coaches.each do |coach| %>
      <div class="card mx-2 mb-5 text-center" style="width: 275px; max-width: 275px;">
          <!-- coach cover-->
          <%if coach.cover.attached?%>
            <%= image_tag coach.cover, alt: 'Photo de couverture', class: "coach_image", height: "250" %>
          <%else%>
          <%= image_tag "coach_test.jpg", alt: 'Photo de couverture', class: "coach_image", height: "250" %>
          <%end%>
      <div class="photo-profil">
          <!-- coach profil pic-->
          <%if coach.avatar.attached?%>
            <%= image_tag coach.avatar, alt: 'Photo de profil', class: "profil-picture", height: "100", width: "100" %>
          <%else%>
            <%= image_tag "coach_test.jpg", height: "100", width: "100", class: "profil-picture"%>
          <%end%>
      </div>
        <div class="card-informations">
          <h5 class="card-title"><a href="<%= coach_path(coach.id) %>"> <%= coach.first_name %> <%= coach.last_name %> </a></h5>
          <div class="price-index-coach"> <%= coach.price %>€ / heure </div>
          <div> <%= coach.city.name %> </div>
          <div class="coach-specialties">
            <% coach.specialties.each do |specialty| %>
              <span class="coach-specialty">#<%= specialty.name %></span>
            <% end %>
          </div>
        </div>
        <div class="button_booked">
          <%= link_to 'Book', coach_path(coach.id),  class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div> <!-- End of cards class -->
  <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5658.129490217661!2d-0.5795986!3d44.8406148!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527d1a32e69b3%3A0x174e5d3e97b80b10!2sPlace%20de%20la%20Bourse!5e0!3m2!1sfr!2sfr!4v1575646559279!5m2!1sfr!2sfr" frameborder="0" class= "find_map" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
