<h2>Page Show Coach - <%= @coach.first_name %></h2>

<div>
  Informations :
  <div><%= @coach.first_name %> <%= @coach.last_name %></div>
  <div><%= @coach.price %>€ / heure</div>
  <div>
    <% @coach.specialties.each do |specialty| %>
      <div><%= specialty.name %></div>
    <% end %>
  </div>
  <div><%= @coach.phone_number %></div>

  <p>==================</p>

  Adresse :
  <div><%= @coach.address %></div>
  <div><%= @coach.zip_code %></div>
  <div><%= @coach.city.name %></div>

</div>

<p>==================</p>

<%= link_to 'Retour', coaches_path %>