<h2>Page Show Coach - <%= @coach.first_name %></h2>

<div>

  <% if @coach.cover.attached? %>
    <%= image_tag @coach.cover, alt: 'Photo de couverture', class: 'cover-image' %>
  <% end %>

  <% if @coach.avatar.attached? %>
    <%= image_tag @coach.avatar, alt: 'Photo de profil', class: 'avatar-image' %>
  <% else %>
    <p>=== Il n'y a pas encore d'avatar lié à ce coach ===</p>
  <% end %>

  <div>
    Informations :
    <div><%= @coach.first_name %> <%= @coach.last_name %></div>
    <div><%= @coach.price %>€ / heure</div>
    <div>
      <% @coach.specialties.each do |specialty| %>
        <div><%= specialty.name %></div>
      <% end %>
    </div>
    <div><%= @coach.phone_number %></div>

    <p>==================</p>

    Adresse :
    <div><%= @coach.address %></div>
    <div><%= @coach.zip_code %></div>
    <div><%= @coach.city.name %></div>

    <p>==================</p>

    Mes séances :
    <div>
      <% if @coach.seances == [] %>
        Pas encore de séances réservées
      <% else %>
        <h5>Séances à venir</h5>
        <% @coach.seances.select{|seance| seance.start_date > Time.now }.each do |seance| %>
          <div>Début : <%= seance.start_date %></div>
          <div>Durée : <%= seance.duration %>min</div>
          <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
        <% end %>
        <h5>Séances passées</h5>
        <% @coach.seances.select{|seance| seance.start_date < Time.now }.each do |seance| %>
          <div>Début : <%= seance.start_date %></div>
          <div>Durée : <%= seance.duration %>min</div>
          <div>Avec : <%= seance.user.first_name %> <%= seance.user.last_name %></div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>

<p>==================</p>

<%= link_to 'Modifier mes informations', edit_coach_path(params[:id]) %>
<%= link_to 'Retour', coaches_path %>